
a {
  text-decoration: none;
}
/*** 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  
  
}
**/
.container {
  width: 100%;
  height: auto;
  
}
.navbar {
  background-color: #e6cece;
  color: white;
  width: 100%;
  height: 80px;
  top: 0;

}