.main {
  display: flex;
  
  text-align: center;
  align-items: center;
}
.user_blog {
  
  
  
  margin: auto;
}
.user_header {
  display:flex;
  
}
.user_header_image {
  border: 1px solid black;
  border-radius: 50%;

}